#somos-coti {
    .container {
        text-align: center;
        padding: 200px 12px;
        display: flex;
    }

    .texto {
        width: 100%;
    }

    .img-container {
        background-image: url("media/somos-coti.jpg");
    }
}