/* BUTTON ANIMACIÓN */

@keyframes shaking {
    10% {
        transform: scale(1.05) rotate(5deg);
    }

    20% {
        transform: scale(1.05) rotate(-5deg);
    }

    30% {
        transform: scale(1.05) rotate(5deg);
    }

    40% {
        transform: none;
    }
}

/* BUTTON */

button {
    font-size: 2vmax;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: $color_1;
    background-color: $background-color_1;
    animation: shaking 2s infinite;

    &:hover {
        background-color: $background-color_2;
    }
}

/* GENERALES */

header {
    background-color: $background-color_3;
}

body {
    font-family: $font-family_1;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2.7em;
}

h3 {
    font-size: 2em;
}

p {
    font-size: 1.25em;
}

.color-acento {
    color: $color_2;
}

.navbar-brand {
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: $color_2;
    font-size: 1.6em;
}

ul {
    margin: 0;
        padding: 12px;
        color: $color_4;
        text-align: center;
        font-weight: bold;
    
}

/* MIXIN */

@mixin anclas { 
    margin: 0;
        padding: 12px;
        color: $color_4;
        text-align: center;
        font-weight: bold;
    
}
