/* VARIABLES */

$color_1: white;
$color_2: blueviolet;
$color_3: black;
$color_4: rgb(100, 100, 100);
$font-family_1: 'Roboto', sans-serif;
$background-color_1: blueviolet;
$background-color_2: rgb(101, 33, 165);
$background-color_3: rgb(245, 245, 245);
$background-color_4: rgb(30, 30, 30);
$background-color_5: rgb(230, 230, 230);